/*------------ Header ------------*/
header {
  background: linear-gradient(0.50turn, #202020, #303030, #202020);
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  text-align: center;
  padding: 0.5% 0%;
  box-shadow: 0 7px 10px rgba(0,0,0,0.4);
  border-radius: 3px;
}

header ul {
  list-style: none;
  width: 100%;
  padding-left: 0px;
}

header li {
  display: inline-block;
  margin: auto;
  padding: 0% 2%;
  font-size: 14px;
  font-family: 'Radio Canada', sans-serif;
}

header li a {
  text-decoration: none;
  color: #101010;
  text-shadow: 2px 1px 4px #B8B8B8;
}

header li a:hover {
  font-weight: bold;
}
/*--------------------------------*/


/*------------ body ------------*/
body {
  background-color: #45C0E6;
}
/*------------------------------*/

/*------------ #flexbox ------------*/
#flexbox1 {
  display: flex;
  background-color: #45C0E6;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5em;
  height: 43em;
  width: 100%;
  justify-content: space-evenly;
}

#flexbox3 {
  display: flex;
  background-color: #45C0E6;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
}

#flexbox2 {
  display: flex;
  background-color: #45C0E6;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

#aboutflex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #00ADE0;
  margin: 2% 1% 1% 1%;
  width: 100%;
  border-radius: 20px;
  box-shadow: inset 0.1px 0.1px 4.5px 1px black;
}

#part1 {
  width: 75%;
}

#part2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #303030;
  border-radius: 10px;
  width: 180px;
  margin: 1%;
}

#profilepic {
   width: 10em;
   margin-top: 7%;
   margin-bottom: 7%;
   margin-right: auto;
   margin-left: auto;
}

h1 {
  padding: 2%;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 4%;
  border-radius: 20px;
  font-family: 'Heebo', sans-serif;
  text-shadow: 1px 1px 2px lightgrey;
}

p {
  background-color: #00ADE0;
  padding: 2%;
  top: 0;
  margin-right: 5%;
  font-size: 1.1em;
  margin-left: 4%;
  font-family: 'Heebo', sans-serif;
}

#pictures {
  background-color: #00ADE0;
  margin: 1% 1% 1% 1%;
  width: 100%;
  height: auto;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 20px;
  box-shadow: inset 0.1px 0.1px 4.5px 1px black;
}

h3 {
  text-align: center;
  font-family: 'Heebo', sans-serif;
}

li {
  margin-left: 11%;
  padding-bottom: 3%;
  font-family: 'Heebo', sans-serif;
}


#interests {
  background-color: #00ADE0;
  width: 18em;
  margin: 7% 3% 0% 3%;
  height: 13.5em;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 20px;
  box-shadow: inset 0.1px 0.1px 3.5px 1px black;
}

#movies {
  background-color: #00ADE0;
  width: 18em;
  margin: 7% 3% 7% 3%;
  height: 13.5em;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 20px;
  box-shadow: inset 0.1px 0.1px 3.5px 1px black;
}

#foods {
  background-color: #00ADE0;
  width: 18em;
  margin: 0% 3% 7% 3%;
  height: 13.5em;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 20px;
  box-shadow: inset 0.1px 0.1px 3.5px 1px black;
}
/*----------------------------------*/


/*------------ Carousel ------------*/
h2 {
  font-size: 1em;
  font-family: 'Heebo', sans-serif;
  text-shadow: 1px 1px 2px lightgrey;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.left-btn {
  margin-top: auto;
  margin-bottom: auto;
}

.right-btn {
  margin-top: auto;
  margin-bottom: auto;
}

.images {
  width: 100%;
  background: #303030;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 2%;
}

.images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}

.images img:first-of-type {
  display: block;
}
/*----------------------------------*/




/*------------------------------------------------- Media Query 2 (medium)------------------------------------------------- */
@media (min-width: 683px) and (max-width: 949px) {

  /*------------ Header ------------*/
  header {
    background: linear-gradient(0.50turn, #202020, #303030, #202020);
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    padding: 0.5% 0%;
    box-shadow: 0 7px 10px rgba(0,0,0,0.4);
    border-radius: 3px;
  }

  header ul {
    list-style: none;
    width: 100%;
    padding-left: 0px;
  }

  header li {
    display: inline-block;
    margin: auto;
    padding: 0% 2%;
    font-size: 20px;
    font-family: 'Radio Canada', sans-serif;
  }

  header li a {
    text-decoration: none;
    color: #101010;
    text-shadow: 2px 1px 4px #B8B8B8;
  }

  header li a:hover {
    font-weight: bold;
  }
  /*--------------------------------*/


  /*------------ body ------------*/
  body {
    background-color: #45C0E6;
  }
  /*------------------------------*/

  /*------------ #flexbox ------------*/
  #flexbox1 {
    display: flex;
    background-color: #45C0E6;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5em;
    height: 43em;
    width: 100%;
    justify-content: space-evenly;
  }

  #flexbox3 {
    display: flex;
    background-color: #45C0E6;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  #flexbox2 {
    display: flex;
    background-color: #45C0E6;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  #aboutflex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #00ADE0;
    margin: 2% 1% 1% 1%;
    width: 100%;
    border-radius: 20px;
    box-shadow: inset 0.1px 0.1px 4.5px 1px black;
  }

  #part1 {
    width: 75%;
  }

  #part2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #303030;
    border-radius: 10px;
    width: 180px;
    margin: 1%;
  }

  #profilepic {
     width: 10em;
     margin-top: 7%;
     margin-bottom: 7%;
     margin-right: auto;
     margin-left: auto;
  }

  h1 {
    padding: 1%;
    margin-bottom: auto;
    margin-top: auto;
    font-family: 'Heebo', sans-serif;
    border-radius: 20px;
    text-shadow: 1px 1px 2px lightgrey;
  }

  p {
    background-color: #00ADE0;
    padding: 1%;
    top: 0;
    margin-right: 5%;
    font-size: 1.1em;
    font-family: 'Heebo', sans-serif;
  }

  #pictures {
    background-color: #00ADE0;
    margin: 1% 1% 1% 1%;
    width: 100%;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    box-shadow: inset 0.1px 0.1px 4.5px 1px black;
  }


  h3 {
    text-align: center;
    font-family: 'Heebo', sans-serif;
  }

  li {
    margin-left: 11%;
    padding-bottom: 3%;
    font-family: 'Heebo', sans-serif;
  }


  #interests {
    background-color: #00ADE0;
    width: 18em;
    margin: 7% 3% 0% 3%;
    height: 13.5em;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    box-shadow: inset 0.1px 0.1px 3.5px 1px black;
  }

  #movies {
    background-color: #00ADE0;
    width: 18em;
    margin: 7% 3% 7% 3%;
    height: 13.5em;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    box-shadow: inset 0.1px 0.1px 3.5px 1px black;
  }

  #foods {
    background-color: #00ADE0;
    width: 18em;
    margin: 0% 3% 7% 3%;
    height: 13.5em;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    box-shadow: inset 0.1px 0.1px 3.5px 1px black;
  }
  /*----------------------------------*/


  /*------------ Carousel ------------*/
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 1.7em;
    font-family: 'Heebo', sans-serif;
    text-shadow: 1px 1px 2px lightgrey;
  }

  .container {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }

  .left-btn {
    margin-top: auto;
    margin-bottom: auto;
  }

  .right-btn {
    margin-top: auto;
    margin-bottom: auto;
  }

  .images {
    width: 70%;
    background: #303030;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 2%;
  }

  .images img {
    width: 100%;
    border-radius: 10px;
    display: none;
  }

  .images img:first-of-type {
    display: block;
  }
  /*----------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------- */


/*------------------------------------------------- Media Query 1 (normal) ------------------------------------------------- */
@media (min-width: 950px) {
  /*------------ Header ------------*/
  header {
    background: linear-gradient(0.50turn, #202020, #303030, #202020);
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    padding: 0.5% 0%;
    box-shadow: 0 7px 10px rgba(0,0,0,0.4);
    border-radius: 3px;
  }

  header ul {
    list-style: none;
    width: 100%;
    padding-left: 0px;
  }

  header li {
    display: inline-block;
    margin: auto;
    padding: 0% 5%;
    font-size: 20px;
    font-family: 'Radio Canada', sans-serif;
  }

  header li a {
    text-decoration: none;
    color: #101010;
    text-shadow: 2px 1px 4px #B8B8B8;
  }

  header li a:hover {
    font-weight: bold;
  }
  /*--------------------------------*/


  /*------------ #flexbox ------------*/
  body {
    background-color: #45C0E6;
  }
  /*--------------------------------*/


  /*------------ #flexbox ------------*/
  #flexbox1 {
    display: flex;
    background-color: #45C0E6;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5em;
    height: 43em;
    width: 100%;
    justify-content: space-evenly;
  }

  #flexbox3 {
    display: flex;
    background-color: #45C0E6;
    flex-wrap: wrap;
    flex-direction: row;
    width: 73%;
    height: auto;
  }

  #flexbox2 {
    display: flex;
    background-color: #45C0E6;
    flex-wrap: wrap;
    flex-direction: row;
    width: 23%;
    height: 100%;
    justify-content: space-evenly;
  }

  #aboutflex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #00ADE0;
    margin: 2% 1% 1% 1%;
    width: 100%;
    border-radius: 20px;
    box-shadow: inset 0.1px 0.1px 4.5px 1px black;
  }

  #part1 {
    width: 75%;
  }

  #part2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #303030;
    border-radius: 10px;
    width: 180px;
    margin: 1%;
  }

  #profilepic {
     width: 10em;
     margin-top: 7%;
     margin-bottom: 7%;
     margin-right: auto;
     margin-left: auto;
  }

  h1 {
    padding: 1%;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 2.7em;
    font-family: 'Heebo', sans-serif;
    border-radius: 20px;
    text-shadow: 1px 1px 2px lightgrey;
  }

  p {
    background-color: #00ADE0;
    padding: 1%;
    top: 0;
    margin-right: 5%;
    font-size: 1.2em;
    font-family: 'Heebo', sans-serif;
  }

  #pictures {
    background-color: #00ADE0;
    margin: 1% 1% 4% 1%;
    width: 100%;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    box-shadow: inset 0.1px 0.1px 4.5px 1px black;
  }

  h3 {
    text-align: center;
    font-family: 'Heebo', sans-serif;
  }

  li {
    margin-left: 11%;
    padding-bottom: 3%;
    font-family: 'Heebo', sans-serif;
  }


  #interests {
    background-color: #00ADE0;
    width: 18em;
    margin: 7% 3% 0% 3%;
    height: 13.5em;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    box-shadow: inset 0.1px 0.1px 3.5px 1px black;
  }

  #movies {
    background-color: #00ADE0;
    width: 18em;
    margin: 7% 3% 7% 3%;
    height: 13.5em;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    box-shadow: inset 0.1px 0.1px 3.5px 1px black;
  }

  #foods {
    background-color: #00ADE0;
    width: 18em;
    margin: 0% 3% 7% 3%;
    height: 13.5em;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    box-shadow: inset 0.1px 0.1px 3.5px 1px black;
  }
  /*----------------------------------*/


  /*------------ Carousel ------------*/
  .head {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  }

  h2 {
    font-size: 1.7em;
    font-family: 'Heebo', sans-serif;
    text-shadow: 1px 1px 2px lightgrey;
  }

  .container {
  	width: 70%;
  	display: flex;
  	justify-content: space-around;
  }

  .left-btn {
    margin-top: auto;
    margin-bottom: auto;
  }

  .right-btn {
    margin-top: auto;
    margin-bottom: auto;
  }

  .images {
  	width: 70%;
  	background: #303030;
  	padding: 10px;
  	border-radius: 10px;
  	box-sizing: border-box;
    margin-bottom: 2%;
  }

  .images img {
  	width: 100%;
  	border-radius: 10px;
  	display: none;
  }

  .images img:first-of-type {
  	display: block;
  }
  /*----------------------------------*/


}
/*--------------------------------------------------------------------------------------------------------------- */
