/*------------ Header ------------*/
header {
  background-color: lightgrey;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  text-align: center;
  padding: 0.5% 0%;
}

header ul {
  list-style: none;
  width: 100%;
  padding-left: 0px;
}

header li {
  display: inline-block;
  margin: auto;
  padding: 0% 5%;
  font-size: 20px;
}

header li a {
  text-decoration: none;
  color: black;
}

header li a:hover {
  font-weight: bold;
}
/*--------------------------------*/


/*------------ #flexbox ------------*/
body {
  background-color: white;
}
/*--------------------------------*/


/*------------ #flexbox ------------*/
#flexbox1 {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5em;
  height: 43em;
  width: 100%;
  justify-content: space-evenly;
}

#flexbox3 {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  flex-direction: row;
  width: 73%;
  height: 100%;
}

#flexbox2 {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  flex-direction: row;
  width: 23%;
  height: 100%;
  justify-content: space-evenly;
}

#about {
  background-color: lightblue;
  margin: 2% 1% 1% 1%;
  width: 100%;
  height: 35%;
  padding-left: 1%;
  padding-right: 1%;
}

#pictures {
  background-color: lightblue;
  margin: 1% 1% 1% 1%;
  width: 100%;
  height: 55%;
  padding-left: 1%;
  padding-right: 1%;
}

h3 {
  text-align: center;
}

/*
ul {
  list-style: none;
}
*/

li {
  margin-left: 11%;
}


#interests {
  background-color: pink;
  width: 100%;
  margin: 7% 3% 0% 3%;
  padding-left: 3%;
  padding-right: 3%;
}

#movies {
  background-color: pink;
  width: 100%;
  margin: 7% 3% 7% 3%;
  padding-left: 3%;
  padding-right: 3%;
}

#foods {
  background-color: pink;
  width: 100%;
  margin: 0% 3% 7% 3%;
  padding-left: 3%;
  padding-right: 3%;
}
/*----------------------------------*/
