body {
  background-color: #yellow;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 0%;
}

/*------------- Name inputs ---------------*/
#inputs {
  margin-left: 25%;
  width: 75%;
  align-content: center;
  flex-direction: row;
  margin-top: 2%;
}

#p1inputDiv h4 {
  font-size: 1em;
  text-align: center;
  display: inline;
}

#p2inputDiv {
  visibility: hidden;
}

#p2inputDiv h4 {
  font-size: 1em;
  text-align: center;
  display: inline;
}

input {
  border: 1;
  padding: 7px;
  font-size: .5em;
  height: 1.25em;
  margin-top: 2em;
  margin-left: 1em;
}

#p1Btn {
  font-size: .5em;
  height: 3em;
  margin-left: 0.25em;
  margin-top: 2.5em;
}

#p2Btn {
  font-size: .5em;
  height: 3em;
  margin-left: 0.25em;
  margin-top: 2.5em;
}
/*-----------------------------------------*/
#named {
  display: inline;
  margin-bottom: 3%;
}

#named h5 {
  font-size: 0.75em;
  width: 55%;
  margin: 0;
  margin-left: 20%;
}

#start {
  visibility: hidden;
}

#startBtn {
  font-size: 0.75em;
  padding: 3%;
  margin-left: 45%;
  margin-top: 10%;
}

#gameDiv {
  visibility: hidden;
}

#statement {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: 1em;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

table, th, td {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

td {
  height: 2.25em;
  width: 2.25em;
  font-size: 2em;
  text-align: center;
  padding: 1%;
}

.board {
  height: 4em;
  width: 4em;
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
  z-index: 2;
}



/*-------------------------------------------------------------------------------------*/

@media (min-width: 600px) {
  body {
    background-color: #13F2B3;
  }

  h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 1em;
    margin-top: 0%;
  }

  /*------------- Name inputs ---------------*/
  #inputs {
    margin-left: 35%;
    width: 100%;
    align-content: center;
    flex-direction: row;
  }

  #p1inputDiv h4 {
    font-size: 2em;
    text-align: center;
    display: inline;
  }

  #p2inputDiv {
    visibility: hidden;
  }

  #p2inputDiv h4 {
    font-size: 2em;
    text-align: center;
    display: inline;
  }

  input {
    border: 1;
    padding: 7px;
    font-size: 1em;
    height: 2.5em;
    margin-top: 2em;
    margin-left: 1em;
  }

  #p1Btn {
    font-size: 1em;
    height: 3em;
    margin-left: 0.25em;
    margin-top: 2.5em;
  }

  #p2Btn {
    font-size: 1em;
    height: 3em;
    margin-left: 0.25em;
    margin-top: 2.5em;
  }
  /*-----------------------------------------*/
  #named {
    display: inline;
    margin-bottom: 3%;
  }

  #named h5 {
    font-size: 1.5em;
    width: 55%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 1%;
    margin-left: 35%;
  }

  #start {
    visibility: hidden;
  }

  #startBtn {
    font-size: 1.5em;
    padding: 3%;
    margin-left: 45%;
    margin-top: 10%;
  }

  #gameDiv {
    visibility: hidden;
  }

  #statement {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 2em;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  table, th, td {
    border-style: solid;
    border-color: black;
    border-width: 2px;
  }

  td {
    height: 2.5em;
    width: 2.5em;
    font-size: 4em;
    text-align: center;
    padding: 1%;
  }

  .board {
    height: 9em;
    width: 9em;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    z-index: 2;
  }
}
