/*------------ Header ------------*/
header {
  background: linear-gradient(0.50turn, #202020, #303030, #202020);
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  text-align: center;
  padding: 0.5% 0%;
  box-shadow: 0 7px 10px rgba(0,0,0,0.4);
  border-radius: 3px;
}

header ul {
  list-style: none;
  width: 100%;
  padding-left: 0px;
}

header li {
  display: inline-block;
  margin: auto;
  padding: 0% 2%;
  font-size: 15px;
  font-family: 'Radio Canada', sans-serif;
}

header li a {
  text-decoration: none;
  color: #101010;
  text-shadow: 2px 1px 4px #B8B8B8;
}

header li a:hover {
  font-weight: bold;
}
/*--------------------------------*/


/*------------- body -------------*/
body {
  background-color: white;
}
/*--------------------------------*/


/*------------ #title ------------*/
#title {
  width: 100%;
  margin-top: 9.5%;
  text-align: center;
  font-size: 4em;
  margin-bottom: 2%;
  padding-top: 1.2%;
  padding-bottom: 0%;
  font-family: 'Volkhov', serif;
}
/*--------------------------------*/


/*------------ #flexbox ------------*/
#flexbox {
  display: flex;
  background-color: #f6f6f6;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 85%;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  height: 30em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  border-top-color: #4BD8FA;
  border-left-color: #4BD8FA;
  border-bottom-color: #4BD8FA;
  overflow-x: hidden;
}
/*How to hide scroll bars https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/

/*
overflow-x {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
*/

#title {
  font-family: 'Volkhov', serif;
  width: 100%;
  text-align: center;
  margin-top: 8%;
  padding-top: 1.2%;
  font-size: 2.5em;
}

#tofix {
  border-radius: 10px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

iframe {
  border-radius: 10px;
  height: 130%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/*Ended up grabbing the embed tag stright from right clicking the youtube video. This link also helped me learn how to put the live video in https://www.w3schools.com/html/html5_video.asp*/

#linkedinPic {
  margin-top: 5%;
  border-radius: 10px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#githubPic {
  border-radius: 10px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

/*Helped me link the images: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_links_image*/



/*------------------------------------------------- Media Query ------------------------------------------------- */
@media (min-width: 600px) {
  /*------------ Header ------------*/
  header {
    background: linear-gradient(0.50turn, #202020, #303030, #202020);
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    padding: 0.5% 0%;
    box-shadow: 0 7px 10px rgba(0,0,0,0.4);
    border-radius: 3px;
  }

  header ul {
    list-style: none;
    width: 100%;
    padding-left: 0px;
  }

  header li {
    display: inline-block;
    margin: auto;
    padding: 0% 5%;
    font-size: 20px;
    font-family: 'Radio Canada', sans-serif;
  }

  header li a {
    text-decoration: none;
    color: #101010;
    text-shadow: 2px 1px 4px #B8B8B8;
  }

  header li a:hover {
    font-weight: bold;
  }
  /*--------------------------------*/


  /*------------- body -------------*/
  body {
    background-color: white;
  }
  /*--------------------------------*/


  /*------------ #title ------------*/
  #title {
    width: 100%;
    margin-top: 7%;
    text-align: center;
    font-size: 4em;
  }
  /*--------------------------------*/


  /*------------ #flexbox ------------*/
  #flexbox {
    display: flex;
    background-color: #f6f6f6;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 85%;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    height: 30em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: thin;
    border-top-color: #4BD8FA;
    border-left-color: #4BD8FA;
    border-right-color: #4BD8FA;
    overflow-y: hidden;
  }
  /*How to hide scroll bars https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/

  /*
  overflow-y {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  */

  #title {

    width: 100%;
    text-align: center;
    margin-top: 5%;
    padding-top: 1.2%;
  }

  #flexbox a {
    margin: auto;
    background-color: lightyellow;
    height: 20em;
    width: 40em;
    margin: 1%;
    border-radius: 10px;
  }

  iframe {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  /*Ended up grabbing the embed tag stright from right clicking the youtube video. This link also helped me learn how to put the live video in https://www.w3schools.com/html/html5_video.asp*/

  #linkedinPic {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  #githubPic {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  /*Helped me link the images: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_links_image*/

  .link h4 {
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    margin-top: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .link a {
    text-decoration: none;
    color: black;
  }

  .link a:hover {
    font-size: 1.4em;
  }
  /*--------------------------------*/
}

/*where I got the Linkedin image: https://pixabay.com/vectors/github-logo-social-coding-brand-394322/ */
/*Image address: https://c.pxhere.com/images/05/25/9ad3029ff9c1906b77859ee38018-1445953.jpg!d*/


/*where I got the GitHub image: https://pxhere.com/en/photo/1445953 */
/*Image address: https://cdn.pixabay.com/photo/2014/07/15/23/36/github-394322_1280.png*/
/*--------------------------------------------------------------------------------------------------------------- */
