/*------------ Header ------------*/
header {
  background-color: lightgrey;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  text-align: center;
  padding: 0.5% 0%;
}

header ul {
  list-style: none;
  width: 100%;
  padding-left: 0px;
}

header li {
  display: inline-block;
  margin: auto;
  padding: 0% 3%;
  font-size: 0.75em;
}

header li a {
  text-decoration: none;
  color: black;
}

header li a:hover {
  font-weight: bold;
}
/*--------------------------------*/


/*------------ Body ------------*/
body {
  background-color: lightpink;
}


#middle {
  margin-top: 30%;
}

#middle h1 {
  text-align: center;
  color: white;
  font-size: 5em;
  margin-bottom: 0%;
}


#middle p {
  color: white;
  text-align: right;
  width: 35%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 33%;
}
/*------------------------------*/


/*------------ Footer ------------*/
footer {
  background-color: lightgrey;
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: fixed;
  height: 8.3%
}
/*--------------------------------*/


/*------------------------------------------------- Media Query ------------------------------------------------- */
@media (min-width: 600px) {
  /*------------ Header ------------*/
  header {
    background-color: lightgrey;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    text-align: center;
    padding: 0.5% 0%;
  }

  header ul {
    list-style: none;
    width: 100%;
    padding-left: 0px;
  }

  header li {
    display: inline-block;
    margin: auto;
    padding: 0% 5%;
    font-size: 20px;
  }

  header li a {
    text-decoration: none;
    color: black;
  }

  header li a:hover {
    font-weight: bold;
  }
  /*--------------------------------*/


  /*------------ Body ------------*/
  body {
    background-color: lightpink;
  }

  #middle {
    margin-top: 20%;
  }

  #middle h1 {
    text-align: center;
    color: white;
    font-size: 9em;
    margin-bottom: 0%;
  }

  #middle p {
    color: white;
    text-align: right;
    width: 35%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 33%;
  }
  /*------------------------------*/


  /*------------ Footer ------------*/
  footer {
    background-color: lightgrey;
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: fixed;
    height: 8.3%
  }
  /*--------------------------------*/
}
/*--------------------------------------------------------------------------------------------------------------- */
